project-006/target/
project-006/.settings/
project-006/.vertx/
project-006/.vscode/

project-006/.classpath
project-006/.project

project-007/target/
project-007/.settings/
project-007/.vertx/
project-007/.vscode/

project-007/.classpath
project-007/.project

.git/
.settings/

.classpath
.project

